<h3>Edit</h3>
<hr>
<%= render 'shared/error', obj: @user %>
<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <br/>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br/>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <br/>
  <%= f.label :time_zone %>
  <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>
  <br/>
  <%= f.submit 'Edit User Profile', class: 'btn btn-primary' %>
<% end %>