<h3>Register</h3>

<%= render 'shared/error', obj: @user %>
<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <br/>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br/>
  <%= f.submit 'Register', class: 'btn btn-primary' %>
<% end %>