<h3>All Posts</h3>

<ul style='list-style: none' >
  <% @posts.each do |post| %>
    <li>
      <div class="post">
        <div class='vote_box'>
          <% if current_user %>
            <%= link_to "<i class=\"icon-arrow-up\"></i>".html_safe, vote_post_path(post, vote: true), method: 'post', class: 'btn btn-success nav-item' %>
          <% end %>
          <div class='btn btn-mini nav-item'>
            <%= post.total_votes %><br/>Vote Meter
          </div>
          <% if current_user %>
            <%= link_to "<i class=\"icon-arrow-down\"></i>".html_safe, vote_post_path(post, vote: false), method: 'post', class: 'btn btn-warning nav-item' %>
          <% end %>
        </div>
        <div class='post_box'>
          <h4 stlye="text-align: right"><%= link_to post.title, post %></h4>
          <small>posted at <%= post.created_at %></small>
          |
          <small><%= link_to 'Edit', edit_post_path(post) %></small>
        </div>
      </div>
    </li>
  <% end %>
</ul>