<h3>All Posts</h3>

<ul>
  <% @posts.each do |post| %>
    <li>
      <% if current_user %>
        (<%= link_to '+', vote_post_path(post, vote: true), method: 'post' %>
      <% end %>
        <%= post.total_votes %>
      <% if current_user %>
        <%= link_to '-', vote_post_path(post, vote: false), method: 'post' %> )
      <% end %>

      <%= link_to post.title, post %>
      <small>posted at <%= post.created_at %></small>
      |
      <small><%= link_to 'Edit', edit_post_path(post.id) %></small>
    </li>
  <% end %>
</ul>