<div>
  <p><%= link_to @post.url, fix_url(@post.url) %></p>
  <br/>
  <p>"<%= @post.description %>"</p>
  <br/>
  <p>
    <small>
      <em><%= @post.creator.username %> created this post on
                <%= @post.created_at %>
      </em>
    </small>
  </p>
  <br/>
</div>
<% if logged_in? %>
  <%= render 'shared/error', obj: @comment %>

  <%= form_for [@post, @comment] do |f| %>
    <%= f.text_area :body %>
    <br/>
    <%= f.submit "Create Comment" %>
  <% end %>
<% end %>

<h4>Comments:</h4>
<ul>
  <% @post.comments.each do |comment| %>
    <li>
      <% if current_user %>
        (<%= link_to '+', vote_post_comment_path(comment.post, comment.id, vote: true), method: 'post' %>
      <% end %>
      <small><em><%= comment.total_votes %> total votes</em></small>
      <% if current_user %>
      <%= link_to '-', vote_post_comment_path(comment.post, comment, vote: false), method: 'post' %>
      )
      <% end %>
      <%= comment.body %> <small><em>by <%= comment.creator.username %></em></small>
    </li>
  <% end %>
</ul>


