<h5>issue description: </h5><h3 style="float: left; width: 100%"><%= @post.title %></h3>
<hr>
<div class='post_box'>
  <ul style="line-style: none">
    <% @post.categories.each do |category| %>
      <span class='label'><%= link_to category.name, category_path(category) %> </span>
    <% end %>
  </ul>
  <h5>score: </h5><h4><%= link_to @post.url, fix_url(@post.url) %></h4>
  <h5>reason for score: </h5><p>"<%= @post.description %>"</p>
  <br/>
  <p>
    <small>
      <em><%= link_to @post.creator.username, user_path(@post.creator) %> created this post on
                <%= display_date(@post.created_at) %>
      </em>
    </small>
  </p>
  <br/>
</div>
<% if logged_in? %>
  <div class='post_box'>
      <%= render 'shared/error', obj: @comment %>

      <%= form_for [@post, @comment] do |f| %>
        <%= f.text_area :body %>
        <br/>
        <%= f.submit "Create Comment", class: 'btn btn-primary' %>
      <% end %>
  </div>
<% end %>

<h4 style="float: left; width: 100%">Comments:</h4>
<ul style="list-style: none; margin: 0px; padding: 0px" >
  <% @post.comments.each do |comment| %>
    <li>
      <div class='post_box' style='padding: 0px'>
        <div class='vote_box'>
          <%= link_to "<i class=\"icon-arrow-up\"></i>".html_safe, vote_post_comment_path(comment.post, comment.id, vote: true), method: 'post', remote: true, class: 'btn btn-success nav-item' %>
          <div class='btn btn-mini nav-item'>
            <span id="comment_<%= comment.id %>_votes"><%= comment.total_votes %></span><br/>Vote Meter
          </div>
          <%= link_to "<i class=\"icon-arrow-down\"></i>".html_safe, vote_post_comment_path(comment.post, comment, vote: false), method: 'post', remote: true, class: 'btn btn-warning nav-item' %>
        </div>
        <div style='padding: 15px; text-align: left'>
          <%= comment.body %><br/><small><em><%= link_to comment.creator.username, user_path(comment.creator) %> commented on <%= display_date(comment.created_at) %></em></small>
        </div>
      </div>
    </li>
  <% end %>
</ul>

