<ul class="nav">
	<li>
		<%= link_to "QOSDeez!?!", root_path, :class => 'brand' %>
	</li>
	<% if logged_in? %>
		<li>
		 	<div class="btn-group">
		 		<a class="btn dropdown-toggle btn-success" data-toggle="dropdown" href="#">Welcome, <%= current_user.username %>! <span class="caret"></span></a>
		 		<ul class="dropdown-menu">
		 			<li><%= link_to 'Activity', user_path(current_user) %></li>
		 			<li><%= link_to 'Edit Profile', edit_user_path(current_user) %></li>
		 			<li><%= link_to 'Logout', logout_path %></li>
		 		</ul>
		 	</div>
		</li>
		<li>
			<%= link_to 'All Posts', posts_path %>
		</li>
	<% end %>

	<% if logged_in? %>
		<li>
			<%= link_to 'New Post', new_post_path %>
		</li>
		<% if current_user.admin? %>
			<li><%= link_to 'New Category', new_category_path %></li>
		<% end %>
		<li>
		<div class="btn-group">
  		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Categories <span class="caret"></span></a>
  		<ul class="dropdown-menu">
  			<% categories.each do |category| %>
  				<li><%= link_to category.name, category_path(category) %></li>
  			<% end %>
		    <li class="divider"></li>
		    <li><%= link_to "<i class=\"icon-plus\"></i>New Cateogory".html_safe, new_category_path, style:'text-align: center;' %></li>
		  </ul>
		</div>
	</li>
	<% else %>
		<li>
		 <%= link_to 'Login', login_path %>
	  </li>
		<li>
			<%= link_to 'Register', register_path %>
		</li>
	<% end %>
</ul>
